body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Entry {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    animation: fadeOut 2s ease-in-out;
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    