<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Enzyme Kinetics</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/EnzymesLogo.PNG')}}" class="logo-img" alt="logo">

   <form id="form" action="/" method="post" onsubmit="return storePairs()">
        <h3>Graph name:</h3>
        <input type="text" id="g" name="g" value="{{ g }}">

        <br>
        <h3>X-Axis name:</h3>
        <input type="text" id="x1" name="x1" value="{{ x1 }}">

        <br>
        <h3>Y-Axis name:</h3>
        <input type="text" id="y1" name="y1" value="{{ y1 }}">


        <h3>Points Color:</h3>
        <input type="color" id="input-color" name="input-color" value="{{ input_color }}">

        <h3>Curve Color:</h3>
        <input type="color" id="curve-color" name="curve-color" value="{{ curve_color }}">
        
        <h3>{E}</h3>
        <input type="text" id="e" name="e" value="{{ e }}">

        <br><br>
        <label for="x-units">X-Units:</label>
        <select name="x-units" id="x-units">
            <option value="M">M</option>
            <option value="mM">mM</option>
            <option value="µM">µM</option>
            <option value="nM">nM</option>
        </select>

        <label for="y-units">Y-Units:</label>
        <select name="y-units" id="y-units">
            <option value="M">M</option>
            <option value="mM">mM</option>
            <option value="µM">µM</option>
            <option value="nM">nM</option>
        </select><br><br>

        <label value="units">Units per:</label><br>
        <input type="radio" id="perSecond" name="units-per" value="/s" required>
        <label for="perSecond">/s</label>
        <input type="radio" id="perMinute" name="units-per" value="/min" required>
        <label for="perMinute">/min</label>
        <input type="radio" id="perHour" name="units-per" value="/hr" required>
        <label for="perHour">/hr</label><br><br>

        <label for="numPairs">Number of pairs:</label><br><br>
        <input type="number" id="numPairs" name="numPairs" min="0" value="{{ numPairs }}">

        <div id="inputFields">
        {% for i in range(numPairs) %}
            <label for="x_values">x:</label>
            <input type="text" class="x_values" name="x_values[]" value="{{ x_values[i] }}">
            <label for="y_values">y:</label>
            <input type="text" class="y_values" name="y_values[]" value="{{ y_values[i] }}"><br>
        {% endfor %}
    </div>

    <br><br>
        <input type="submit" value="Create Graph">
        <br>
        <input type="reset" value="Reset">
   </form>


   <table id = "values">
    <tr>
        <th>Parameters</th>
        <th>Values</th>
    </tr>
    <tr>
        <td>V<sub>max</sub></td>
        <td>{{ vMax }}</td>
    </tr>
    <tr>
        <td>K<sub>M</sub></td>
        <td>{{ kM }}</td>
    </tr>
    <tr>
        <td>K<sub>cat</sub></td>
        <td>{{ kCat }}</td>
    </tr>
   <div id="plot">
       {{ plot|safe }}
   </div>
   <button id="lineweaver" onclick="togglePlot2()">Lineweaver-Burk</button>
   <div id="plot2" style="display: none;">
        {{ plot2|safe }}
    </div>
    <div class="blank-box"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // This function will be called when the page is fully loaded
            var numPairsInput = document.getElementById("numPairs");
            var inputFieldsContainer = document.getElementById("inputFields");
    
            function generateInputFields() {
                var numPairs = parseInt(numPairsInput.value);
                var inputFieldsHTML = '';
                for (var i = 0; i < numPairs; i++) {
                    inputFieldsHTML += `
                        <label for="x_values">x:</label>
                        <input id="xVal${i}" type="text" class="x_values" name="x_values[]">
                        <label for="y_values">y:</label>
                        <input id="yVal${i}" type="text" class="y_values" name="y_values[]"><br>
                `;
            }
                inputFieldsContainer.innerHTML = inputFieldsHTML;
            }
    
            // Generate input fields when the page loads
            //This function uses the value from localstorage
            //every other time we will use the above function to check the current value
            generateInputFieldsFromStorage();
    
            if(localStorage.getItem('numberOfPairs') != null)
            {
                addPairs();
            }
            // Generate input fields when the number of pairs input changes
            numPairsInput.addEventListener("input", generateInputFields);
        });
       </script>
    
       <script>
        function addPairs()
        {
            //This gets the strings of each set of values and splits them into an array.
            var numberPairs = localStorage.getItem('numberOfPairs');
            const pairXValues = localStorage.getItem('xPairs').toString().split(',');
            const pairYValues = localStorage.getItem('yPairs').toString().split(',');
    
    
            //This loop then fills in the fields with the stored values from the array
            for(var i = 0; i < numberPairs; i++)
            {
                document.getElementById("xVal" + i).value = pairXValues[i];
                document.getElementById("yVal" + i).value = pairYValues[i];
            }
        }
    
        function storePairs()
        {
    
            //this converts each of the sets of pairs into a comma-separated-string and puts it in localstorage to get on reload
            //it also stores the number of pairs chosen
            var numberPairs = document.getElementById("numPairs").value;
            var xvals = "";
            var yvals = "";
    
            for(var i = 0; i < numberPairs; i++)
            {
                xvals += document.getElementById("xVal" + i).value
                xvals += ",";
                yvals += document.getElementById("yVal" + i).value
                yvals += ",";
            }
    
            localStorage.setItem("numberOfPairs", numberPairs);
            localStorage.setItem("xPairs", xvals);
            localStorage.setItem("yPairs", yvals);
        }
    
        function generateInputFieldsFromStorage()
        {
    
            var numPairsInput = document.getElementById("numPairs");
            var inputFieldsContainer = document.getElementById("inputFields");
    
            if(localStorage.getItem('numberOfPairs') != null)
            {
                var numPairs = localStorage.getItem('numberOfPairs');
                numPairsInput.value = numPairs;
                var inputFieldsHTML = '';
                for (var i = 0; i < numPairs; i++)
                {
                    inputFieldsHTML += `
                        <label for="x_values">x:</label>
                        <input id="xVal${i}" type="text" class="x_values" name="x_values[]">
                        <label for="y_values">y:</label>
                        <input id="yVal${i}" type="text" class="y_values" name="y_values[]"><br>
                `;
                }
    
                inputFieldsContainer.innerHTML = inputFieldsHTML;
            }
            if(localStorage.getItem('numberOfPairs') == null)
            {
                //generateInputFields();
            }
        }
        function togglePlot2() {
            var plot2Div = document.getElementById("plot2");
            if (plot2Div.style.display === "none") {
                plot2Div.style.display = "block";
            } else {
                plot2Div.style.display = "none";
            }
        }
       </script>
</body>
</html>


</body>
</html>
